
.Main{
    padding-top: 3%;
    padding-left: 30px;
    margin-left: 200px;
}

@media (max-width: 800px){
    .Main{
        padding-top: 3%;
        padding-left: 30px;
        margin-left: 120px;
    }
}

