

.container {
    
    display: inline-grid;
    grid-template-columns: auto auto;


}
.containerLarge {    
    display: inline-grid;
  
    direction: rtl;
    grid-template-columns: 130px 130px ;
    background-color: transparent;
           
}
.containerSmall div{
    justify-content: start; 
}


.containerSmall {
    line-height: auto;
    align-content: start;
    display:inline-grid;
    grid-template-rows: auto;
    grid-template-columns: 100px 100px 100px 100px ;
    width: auto;
    background-color: transparent;
   

}

@media screen  and (max-width: 1050px){
 
    .containerLarge {    
        grid-template-columns: 120px 120px       
    }
 
    
    .containerSmall {
        grid-template-columns: 90px 90px 90px 90px  ;
    }
}

@media screen  and (max-width: 900px){
    .containerLarge {    
        grid-template-columns: 110px 110px       
    }
 
    
    .containerSmall {
        grid-template-columns: 80px 80px 80px 80px  ;
    }
}
@media (max-width: 800px){
    .containerSmall {
        grid-template-columns: 80px 80px  ;
    }
}

@media (max-width: 550px){
    .containerLarge {    
        grid-template-columns: 110px       
    }
}