

.container {
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto;

}
.containerLarge {    
    display: inline-grid;
    
    direction: rtl;
    grid-template-columns: 130px 130px ;
    grid-template-rows: auto;
        width: auto;
        background-color: transparent;
           
}
.containerSmall div{
    justify-content: start; 
}
.containerSmall> div:hover{
    z-index: 1001;
    justify-content: start; 
}

.containerSmall {
    line-height: auto;
    align-content: start;
    display:inline-grid;
    grid-template-rows: auto;
    grid-template-columns: 100px 100px 100px 100px ;
    width: auto;
    background-color: transparent;
   

}
