.TitleTextCenter{
    text-align: center;
    color: #333434;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
  
}
