.Large{
    width: 130px;
    height:130px;
    z-index: -1;
}

.Small{
    width: 100px;
    height: 100px;
    z-index: -1;
}
 .Iconsdiv{
    width:  30px;
    margin-left: 70px;
    background-color: transparent;
    z-index: 400;
    position: absolute;
}
.Icons{
    width:  13px;
    height: 12px;
}
