
.Sidebar{
    align-items: center;
    position: fixed;
    display: block;
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    padding-top: 45px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    background-color: #083643;
}
.SearchForm{
    margin-top: 30px;
}


@media (max-width: 800px)  {
    .Sidebar{
        max-width: 160px;
        min-width: 160px;
       
    }
}